<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="/">
                <img class="ui-image" src="{{get_url(path="img/logo-dark.png")}}" alt="Escanor">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <!-- hidden on mobile -->
            <div class="navbar-start">
                <!-- navbar items -->
            </div>
            <div class="navbar-end">
                <!-- navbar items -->
                <a href="/commands" class="navbar-item">Commands</a>
            </div>
        </div>
        <div class="navbar-menu is-active">
            <a href="/commands" class="navbar-item">Commands</a>
        </div>
    </div>
</nav>